header {
    border-style: dashed;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.fistdiv {
    width: 700px;
    font-size: xx-large;
    position: relative;
    border-style: dashed;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.seconddiv {
    width: 700px;
    font-size: xx-large;
    position: relative;
    border-style: dashed;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    left: 800px;
    bottom: 322px;
    margin-right: 800px;
    right: auto;
    width: 562px;
}

footer {
    border-style: dashed;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}